<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>About Us</h1>


<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.accuweather.com%2Fen%2Fweather-news%2Fmore-than-just-a-pretty-picture-the-science-behind-stunning-sunsets%2F360293&psig=AOvVaw2U25gfWelFw7dEbVrHe-LL&ust=1710262749157000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCLjvpK_X7IQDFQAAAAAdAAAAABAE" alt="Flowers in Chania">
<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pexels.com%2Fsearch%2Fbeautiful%2F&psig=AOvVaw2U25gfWelFw7dEbVrHe-LL&ust=1710262749157000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCLjvpK_X7IQDFQAAAAAdAAAAABAJ" alt="Flowers in Chania">

{% endblock %}