<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
      <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

      <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
    
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">


<h1 class="display-4 text-center ">Overview</h1>
<p></p>
<div class="row">
    <div class="col-5 mx-5 my-5 border border-5">
        <h1 class="display-5 text-center">Background</h1>
        <p> I did research on how students in K-12 schools, particularly grades 6-12, have been scoring. What was shown that since the pandemic, students have faced significant struggles trying to pay attention and learn material in class.
             </p>
            <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

            <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>


    <div class="col-5 me-5 mb-5 border border-5">
        <p></p>
        <h1 class="display-6 text-center">Danger of Sleep Deprivation</h1>
        <p>Although this is largely self-explanatory, performance in school plays an instrumental role in ones financial success in life. Students who spend their youngers years constantly distracted, often for reasons they can't control, are put at a disadvantage compared to students who can easily stay on task. This app will hopefully be able to assist students who struggle with staying on task.
             </p>
            <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" height= "200" alt="...">

            <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>


            <div class="container text-center border border-5 ">
                <h1 class="display-4 container text-center">About Me</h1>
        <p>My name is Henry Goodson. I love music, soccer, skiing, and football. I'm a huge 49er fan and a huge Arsenal fan. I personally have struggled greatly with staying on task over my years in k-12 schools, which was the main reason I decided to make my app based on helping students with focus.
        </p>
        <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

        <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>

        
</div>

                


 



{% endblock %}